body {
	background-color:pink; 
	text-align:center
}
mark {
	background-color:green;
	color:blue;
}
table, th, td {
	border:2px solid blue;
}
h1 {
	color:gray;
}
#div1 {
	font-size:21px;
	font-family:'Century Gothic';
}
#div2 {
	font-size:21px;
	font-family:'Helvetica';
	color:green;
}
#p1 {
	color:white;
}
#p2 {
	color:black;
	font-size:35px;
}
span {
	color:orange;
}
ul {
	display:inline-block;
	text-align:left;
	border:10px solid lightblue;
}
.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  color:blue;
}
form {
	display:inline-block; 
	text-align:center;
	color: black;
	text-decoration-line: underline;
	
}
#div3 {
	font-family:'Lucida Sans Typewriter'; 
	font-size:21px;
	color:gray;
}
ol {
	display:inline-block;  
	text-align:left;
	color:green;
	background-color:gray;
}
table {
	display:inline-block;
}
u {
	color:salmon;
}
a:link {
	background-color:yellow;
}
a:visited {
	background-color:orange;
}